---
import Layout from "../layouts/Layout.astro";
---

<Layout
  site="404 - الهلال"
  title="عذراً!"
  tagline="لا يمكننا العثور على الصفحة التي تبحث عنها. رمز الخطأ: 404"
>
  <main id="main-content">
    <div class="btn-group">
      <a href="https://elhellal.com/" class="submit-btn" tabindex="0"
        >العودة للرئيسية</a
      >
    </div>
  </main>
</Layout>
